<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_fav.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @post_fav.user %>
</p>

<%= link_to 'Edit', edit_post_fav_path(@post_fav) %> |
<%= link_to 'Back', post_favs_path %>
