<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @post.family %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Reply post:</strong>
  <%= @post.reply_post %>
</p>

<p>
  <strong>Post favs count:</strong>
  <%= @post.post_favs_count %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
